


.row{
    height: 930px;
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;

}

form{
    height: 930px;
    width: 100%;
    background: #F5F5F5;

}

.header{
    background: #4ebd4a;
    height: 82px;
    width: 100%;
}

h1{
    color: white;
    font-size: 50px;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    padding-top: 10px;
    padding-left: 290px;

}

.title1{
    margin-top: 30px;
}

.title2{
    margin-top: 10px;
}


h3{
    text-align: center;
    font-size: 30px;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    color: #4ebd4a;
}

.col-md-8{
    margin-left: 192px;
    margin-top: 30px;
    height: 100px;
    width: 100%;
}

input{
    height: 50px;
    width: 500px;
}

select{
    height: 50px;
    width: 150px;
    background: #4ebd4a;
}

#heightunits{
    color: white;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    font-size: 20px;
    padding-left: 10px;
    cursor: pointer;
}

#weightunits{
    color: white;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    font-size: 20px;
    padding-left: 10px;
    cursor: pointer;
}

option{
    color: white;
    font-size: 22px;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
}

#button{
    margin-left: 208px;
    margin-top: 30px;
    width: 655px;
    height: 60px;
    background: #4ebd4a;
    color: white;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    font-size: 26px;
    cursor: pointer;
    
}


.title3{
    margin-top: 50px;
}

hgroup{
    margin-left: 208px;
    margin-top: 30px;
    color: #4ebd4a;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
}